.userMain-modal {
  padding: 0px;
}
.userMain-ask {
  border: none;
  color: white;
  background-color: #0d6efd;
  border-radius: 5px;
  padding: 2px 4px;
  z-index: -1;
}


.modalContainer {
  height: 600px;
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3); 
  border-radius: 8px;
}

.userModalAsk-body {
  padding-left: 10px;
  padding-right: 0px;
  width: 600px;
  height: 600px;
  box-shadow: none;
}
.userModalAsk-section {
  width: 600px;
  padding-right: 0;
  box-shadow: none;
}
.userModalAsk-col {
  width: 622px;
  padding-right: 0;
  box-shadow: none;

}
.userModalAsk-btn {
  margin-left: 110px;
  margin-top: 30px;
}
.userModalAst-text {
  height: 150px;
  resize: none;
}


